.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
**/node_modules
**/build
**/__pycache__
**/*.pyc
**/.pytest_cache
**/coverage
**/test_reports
*.log
*.md
memory
tests
.emergent
docker-compose*.yml
